{% extends 'main/base.html' %}

{% block title %}
    {{ category.name }} - Tech News Hub
{% endblock %}

{% block content %}
    <h1 class="mb-4">News in: {{ category.name }}</h1>

    <div class="row">
        {% for article in page_obj %}
            <div class="col-md-3 mb-4">
                <div class="card h-100 news-card">
                    <a href="{% url 'article_detail' article.id %}" class="card-link-wrapper">
                        {% if article.image %}
                            <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                        {% else %}
                            <img src="https://via.placeholder.com/300x200.png?text=No+Image" class="card-img-top" alt="No Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                        </div>
                    </a>
                    <div class="card-footer">
                        <a href="{% url 'article_detail' article.id %}#comments-section" class="comment-link">
                            Leave a comment
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p>There are no articles in this category yet.</p>
            </div>
        {% endfor %}
    </div>
    {% include 'main/pagination.html' %}
{% endblock %}